@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,700;1,400;1,600&display=swap');

*{  padding:0; margin:0;
    font-family: 'Work Sans', sans-serif;
}

/* navigation section */

/* header{ border: 2px solid yellow;} */
.nav-title-style{color: #FF42A5;}
.nav-title-container{ display: flex; align-items: center; text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.nav-container{ display: flex; align-items: center; justify-content: space-between; margin: 0 100px; box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);}
.nav-container ul{ display: flex;}
ul li{ list-style: none; padding: 20px; font-size: 1.1rem;}
ul li >a{text-decoration: none; color: #3C354F;}
.follow-us-container{ border: 1px solid gray; padding: 18px 24px; background-color: #0b022321; border-radius: 8px; border: none; box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.follow-us-container a{ padding: 10px;}

.nav-container a:hover{ color: #ff42a4a9;}

/* main section start */
/* play like GOAT section */
.play-like-a-goat{ /* border: 2px solid rgb(201, 0, 0); */ display: flex;}
.play-goat-text-container{ width: 48%; height: 80vh; /* border: 1px solid goldenrod; */ display: grid; align-items: center; 
    background-image: url(../images/Group\ 14.png); background-size: cover; 
}

.making-text-center{ display: grid; justify-content: center;}

.play-like-title{
color: #0B0223;
font-weight: 600;
font-size: 2rem;
margin-left: 10px
}

.play-like-title-goat{
    font-size: 4rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-like-description{
    font-size: 1.15rem; color: #534C64;
}

button{
    padding: 20px 40px;
    margin-top: 40px;
    border-radius: 40px;
    border: none;
}

.btn-1{ background-color: #FF42A5;}
#btn-2{ background-color: #4EC5F7;}
button a{
    color: #FFF;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
text-decoration: none;
}


button a:hover{ color: rgb(59, 45, 77);}


.play-like-goat-img-container{ /* border: 2px solid yellow; */ width: 40%; height: 80vh;}

.play-like-goat-img-container > img{ width: 100%; height: 100%;}















/* Media Query */

@media screen and (max-width: 576px) {
    header{ margin: 30px 0px;}
    .nav-container{ flex-direction: column; text-align: center;}  
    .nav-container ul{ flex-direction: column;}  
    .follow-us-container{ width: 90%;}
    /* banner Play like a Goat */

    .play-like-a-goat{
         flex-direction: column-reverse;
    }
    .play-like-goat-img-container, .play-goat-text-container { width: 85%; margin: auto;}
}


/* For Tab Devices */

@media screen and (min-width: 577px ) and (max-width: 992px ) {
    header{ margin: 30px 0px;}
    .nav-container{ flex-direction: column; text-align: center;}  
    .nav-container ul{ margin: 20px auto;}

    /* banner Play like a Goat */

    .play-like-a-goat{
        flex-direction: column-reverse;
   }
   .play-like-goat-img-container, .play-goat-text-container { width: 85%; height: 100% ; margin: auto;}
    
}
