@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,700;1,400;1,600&display=swap');

*{  padding:0; margin:0;
    font-family: 'Work Sans', sans-serif;
}

/* navigation section */

/* header{ border: 2px solid yellow;} */
.nav-title-style{color: #FF42A5;}
.nav-title-container{ display: flex; align-items: center; text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.nav-container{ display: flex; align-items: center; justify-content: space-between; margin: 0 100px; box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);}
.nav-container ul{ display: flex;}
ul li{ list-style: none; padding: 20px; font-size: 1.1rem;}
ul li >a{text-decoration: none; color: #3C354F;}
.follow-us-container{ border: 1px solid gray; padding: 18px 24px; background-color: #0b022321; border-radius: 8px; border: none; box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.follow-us-container a{ padding: 10px;}

.nav-container a:hover{ color: #ff42a4a9;}

/* main section start */
/* play like GOAT section */
.play-like-a-goat{ /* border: 2px solid rgb(201, 0, 0); */ display: flex;}
.play-goat-text-container{ width: 48%; height: 80vh; /* border: 1px solid goldenrod; */ display: grid; align-items: center; 
    background-image: url(../images/Group\ 14.png); background-size: cover; 
}

.making-text-center{ display: grid; justify-content: center;}

.play-like-title{
color: #0B0223;
font-weight: 600;
font-size: 2rem;
margin-left: 10px
}

.play-like-title-goat{
    font-size: 4rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-like-description{
    font-size: 1.15rem; color: #534C64;
}

button{
    padding: 20px 40px;
    margin-top: 40px;
    border-radius: 40px;
    border: none;
}

.btn-1{ background-color: #FF42A5;}
#btn-2{ background-color: #4EC5F7;}
button a{
    color: #FFF;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
text-decoration: none;
}


button a:hover{ color: rgb(59, 45, 77);}


.play-like-goat-img-container{ /* border: 2px solid yellow; */ width: 40%; height: 80vh;}

.play-like-goat-img-container > img{ width: 100%; height: 100%;}

/* We are gamers section */

.we-are-gamers-container{ /* border: 2px solid saddlebrown; */ display: flex; justify-content: space-evenly; padding: 50px 100px;align-items: center; background-color: #cecccd1a;}

.we-are-gamer-image-container{ /* border: 2px solid black; */ width: 60%;}

.we-are-gamer-image-container img{width: 100%;}

.we-are-gamers-text-container{ /* border: 2px solid gray; */ width: 40%; text-align: right;}

.we-are-gamers-title{
font-size: 2.8rem;
font-weight: 700;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-bottom: 24px;
}

.we-are-gamers-description , .we-are-gamers-last-title{
color: #534C64;
font-size: 1.1rem;
font-weight: 400;
}
.we-are-gamers-last-title{ margin-top: 24px;}
#we-are-gamers-last-title{ font-weight: 700; color: #534C64; }
/*  */
/* we are gamers section end */

/* online games Funny Video   */

.online-games-container{text-align: center; /* border: 2px solid red */; margin-top: 100px;}

.online-games-title{
color: #0B0223;
font-size: 3rem;
font-weight: 700;
}

.online-games-title-style{
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 2.8rem;
font-weight: 700;
}

.online-games-description{
color: #534C64;
text-align: center;
font-size: 1.1rem;
font-weight: 400;
padding: 16px 25px;
}

.online-games-img-container>div{width: 250px; height: 370px; padding: 20px; /* border: 2px solid red; */ }
.online-games-img-container >div>img{width: 100%;height: 90%;}


.online-games-img-container{ display: flex; justify-content: center; padding: 20px; }

.online-games-img-container>div>p{
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 500;}
/* testing */
.online-games-img-container {
    display: flex;
  }

  .main-1122-container {
    position: relative;
    margin: 20px;
  }

  .main-1122-container:hover .overlay {
    opacity: 1;
  }

  .overlay {
    position: absolute;
    top: 5%;
    left: 7%;
    width: 86.2%; 
    height: 80.5%;
    border-radius: 15px;
    border: 2px solid rgb(236, 14, 199);
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
  }

/* Testing End */

/* play-instant section */

.play-instant{ /* border: 2px solid gray; */ display: flex; align-items: center; justify-content: space-around; position: relative; height: 80vh; box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.position{position: absolute; /* border: 2px solid yellowgreen; */ width: 140px; height: 200px;
    top: 75%;
    right: 35%;
    transform: translate(-50%, -50%);}

    .position >img{width: 100%; height: 100%;}
.play-instant-text-container{ /* border: 2px solid red; */ text-align: right; width: 45%;}

.instant-play-img-container{ /* border: 2px solid palevioletred; */ width: 40%;}

.instant-play-img-container > img{width: 62%; /* height: 40%; */ }


/* Types OF games Section */

.types-of-games{/*  border: 2px solid red; */ margin: 50px auto; padding: 10px; background-color: #ebe9f141; width: 90%;}


.listing-1-container ul>li>a{display: flex; align-items: center;}

.listing-1-container ul>li:hover{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid #ff0099;
    border-radius: 50px;


}

.listing-1{ display: flex; flex-wrap: wrap; justify-content: center;}


/* Footer Section  start*/

.footer-listing-1 li>a{color: white;}

.footer-listing-1 li>a:hover{color: #F948B2;}

.footer-main-container{/*  border: 2px solid green; */ padding: 50px 0px;  background-color: #0B0223;}

.footer-style{color: #ff0099bd;}

#footer-style{ color: #FFF;}

#footer-logo{/* border: 2px solid goldenrod; */ width: 21%; margin: 0 auto; justify-content: center; } 

/* .footer-listing-1-container{display: grid; justify-content: center;} */

.footer-listing-1{/*  border: 2px solid rebeccapurple; */ text-align: center; 
    display: flex; flex-wrap: wrap; justify-content: center; width: 60%; margin: 0 auto;
}
#policy li>a{color: rgba(255, 255, 255, 0.60);}
#policy li>a:hover{color: #8758F1;}


























/* Media Query */

@media screen and (max-width: 576px) {
    header{ margin: 30px 0px;}
    .nav-container{ flex-direction: column; text-align: center;}  
    .nav-container ul{ flex-direction: column;}  
    .follow-us-container{ width: 90%;}
    /* banner Play like a Goat */

    .play-like-a-goat{
         flex-direction: column-reverse;
    }
    .play-like-goat-img-container, .play-goat-text-container { width: 85%; margin: auto;}

    /* we are gamers section */

    .we-are-gamers-container{ flex-direction: column;}
    .we-are-gamer-image-container, .we-are-gamers-text-container{width: 150%; text-align: center;}
    .we-are-gamer-image-container > img{width: 100%;}
    .we-are-gamers-title{ font-size: 2rem;}

    /* Online-Games-section */

    .online-games-img-container{
        flex-direction: column; text-align: left;
    }
    .online-games-img-container>div{padding: 40px; margin: 0 auto;}

    .overlay{
        top: 8%;
        left: 12%;
        width: 75.5%;
        height: 74%;
    }

    /* play Instant section */

    .play-instant{ flex-direction: column-reverse; height: auto;}
    
    .instant-play-img-container > img{width: 280px; /* height: 40%; */ ;}

    .position{
        top: 35%;
    right: 35%;
    transform: translate(-50%, -50%)
    }
    .play-instant-text-container{ text-align: center; width: 80%; margin-top: 80px;}

    /* Types of games section */

    .listing-1>li{padding: 4px; font-size: .8rem;}

    .listing-1>ul{ justify-content: space-between;}
    .listing-1>li>a{text-align: left;}
    .listing-1>li>a>img{width: 20%; height: 20%;}

    /* footer section */

    .footer-listing-1{ width: 90%;}
    

}


/* For Tab Devices */

@media screen and (min-width: 577px ) and (max-width: 992px ) {
    header{ margin: 30px 0px; width: 100%;}
    .nav-container{ flex-direction: column; text-align: center;}  
    .nav-container ul{ margin: 20px auto;}

    /* banner Play like a Goat */

    .play-like-a-goat{
        flex-direction: column-reverse;
   }
   .play-like-goat-img-container, .play-goat-text-container { width: 85%; height: 100% ; margin: auto;}

    /* we are gamers section */

    .we-are-gamers-container{ flex-direction: column;}
    .we-are-gamer-image-container, .we-are-gamers-text-container{width: 100%; text-align: center;}
    .we-are-gamer-image-container > img{width: 100%;}
    .we-are-gamers-title{ font-size: 2rem;}

    /* online Games section */
    .online-games-img-container {
        display: flex;
        flex-wrap: wrap;
    }

    .overlay{
        top: 8%;
        left: 12%;
        width: 75.5%;
        height: 74%;
    }

   
    .online-games-img-container>div{padding: 40px; margin: 0 auto;}




        /* play Instant section */

        .play-instant{ flex-direction: column-reverse; height: auto;}
    
        .instant-play-img-container > img{width: 280px;}
    
        .position{
            top: 40%;
        right: 55%;
        transform: translate(-50%, -50%)
        }
        .play-instant-text-container{ text-align: center; width: 80%; margin-top: 60px;}

        /* types of games */
        .listing-1>ul{ justify-content: center;}
        .listing-1>li{padding: 8px;}
        
   /* footer section */
   .footer-listing-1{ width: 70%;}


}
